# Database: Store files related to database management, such as migrations or SQL scripts.
Database/

# Controllers: Store controller classes handling user interactions and application flow.
Controllers/

# Models: Store model classes responsible for data management and business logic.
Models/

#
Utils/

# Ancien test, fait avec sébastiens.
Anciens/
old_index.php
Crud.php
