# Database: Store files related to database management, such as migrations or SQL scripts.
# Database/
ecf_garage.sql

# Form not needed anymore.
Form.php

# Ancien test de crud, fait avec sébastien.
Anciens/
old_index.php
Crud.php

# 
vendor/
.env