@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
/**Variables tailles minimal du projet**/
body {
  font-family: "Barlow", sans-serif;
  font-family: "Rajdhani", sans-serif;
  min-width: 425px;
  min-height: 850px;
}

/* Header */
ul.navbar-nav li.nav-item a.nav-link {
  color: #D92332;
}

@media (min-width: 1537px) {
  .navbar-nav {
    gap: 100px;
  }
}
@media (min-width: 1418px) and (max-width: 1537px) {
  .navbar-nav {
    gap: 80px;
  }
}
@media (min-width: 1358px) and (max-width: 1417px) {
  .navbar-nav {
    gap: 70px;
  }
}
@media (min-width: 1298px) and (max-width: 1357px) {
  .navbar-nav {
    gap: 60px;
  }
}
@media (min-width: 1238px) and (max-width: 1297px) {
  .navbar-nav {
    gap: 50px;
  }
}
@media (min-width: 1177px) and (max-width: 1237px) {
  .navbar-nav {
    gap: 40px;
  }
}
@media (min-width: 1112px) and (max-width: 1176px) {
  .navbar-nav {
    gap: 30px;
  }
}
@media (min-width: 1048px) and (max-width: 1111px) {
  .navbar-nav {
    gap: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1047px) {
  .navbar-nav {
    gap: 10px;
  }
}
/* Footer */
footer {
  background-color: #262526;
  color: #F2F2F2;
}

/* Index ou Homepage */
/* Login page */
div.col-lg-5 p:nth-child(2) {
  font-family: "Barlow";
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
  font-style: normal;
  color: #F2F2F2;
}

@media (min-width: 992px) {
  div.col-lg-5 p:nth-child(2) {
    color: #8F8F8F;
  }
}
div.form-outline.mb-4 label {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 15px;
}

.mot-de-passe {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 15px;
  color: #F2F2F2;
}

@media (min-width: 992px) {
  .mot-de-passe {
    font-weight: 100;
    font-size: 15px;
    line-height: 20px;
    color: #8F8F8F;
  }
}
button.btn-connexion {
  background-color: #D92332;
}

.my-form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #F2F2F2;
  background-color: transparent;
  background-clip: padding-box;
  border: var(--bs-border-width) solid #C3C3C3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.my-form-control::-moz-placeholder {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #F2F2F2;
}

.my-form-control::placeholder {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #F2F2F2;
}

@media (min-width: 992px) {
  .my-form-control::-moz-placeholder {
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
    color: #8F8F8F;
  }
  .my-form-control::placeholder {
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
    color: #8F8F8F;
  }
}
div.col-lg-7.col-xl-6 div p.mb-2.mx-1.mt-4.d-none.d-lg-block:nth-of-type(1) {
  position: absolute;
  top: 45%;
  left: 33%;
  transform: translate(-110%, -80%);
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 46px;
  color: #FFFFFF;
}
div.col-lg-7.col-xl-6 div p.mb-2.mx-1.mt-4.d-none.d-lg-block:nth-of-type(2) {
  position: absolute;
  top: 55%;
  left: 33%;
  transform: translate(-105%, 45%);
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

@media (min-width: 1440px) and (max-width: 1619px) {
  div.col-lg-7.col-xl-6 div p.mb-2.mx-1.mt-4.d-none.d-lg-block:nth-of-type(1) {
    left: 33%;
    font-size: 35px;
    line-height: 36px;
  }
  div.col-lg-7.col-xl-6 div p.mb-2.mx-1.mt-4.d-none.d-lg-block:nth-of-type(2) {
    left: 35%;
    font-size: 15px;
    line-height: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  div.col-lg-7.col-xl-6 div p.mb-2.mx-1.mt-4.d-none.d-lg-block:nth-of-type(1) {
    left: 40%;
    transform: translate(-110%, -80%);
    font-size: 35px;
    line-height: 36px;
  }
  div.col-lg-7.col-xl-6 div p.mb-2.mx-1.mt-4.d-none.d-lg-block:nth-of-type(2) {
    left: 43%;
    transform: translate(-105%, 45%);
    font-size: 15px;
    line-height: 25px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  div.col-lg-7.col-xl-6 div p.mb-2.mx-1.mt-4.d-none.d-lg-block:nth-of-type(1) {
    left: 45%;
    transform: translate(-110%, -80%);
    font-size: 33px;
    line-height: 40px;
  }
  div.col-lg-7.col-xl-6 div p.mb-2.mx-1.mt-4.d-none.d-lg-block:nth-of-type(2) {
    left: 45%;
    transform: translate(-105%, 45%);
    font-size: 13px;
    line-height: 27px;
  }
}
.staff-members {
  position: absolute;
  width: 10%;
  height: auto;
  top: 90%;
  left: 17%;
  transform: translate(-110%, -80%);
}

.staff-members-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  position: absolute;
  top: 89%;
  left: 25%;
  transform: translate(-110%, -80%);
}

@media (min-width: 1670px) and (max-width: 1820px) {
  .staff-members {
    width: 10%;
    top: 85%;
    left: 15%;
  }
  .staff-members-text {
    top: 84%;
    left: 24%;
  }
}
@media (min-width: 1580px) and (max-width: 1669px) {
  .staff-members {
    width: 10%;
    top: 80%;
    left: 13%;
  }
  .staff-members-text {
    top: 79%;
    left: 22%;
  }
}
@media (min-width: 1439px) and (max-width: 1579px) {
  .staff-members {
    width: 10%;
    top: 80%;
    left: 13%;
  }
  .staff-members-text {
    top: 79%;
    left: 23%;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .staff-members {
    width: 10%;
    top: 80%;
    left: 20%;
  }
  .staff-members-text {
    top: 79%;
    left: 30%;
    font-size: 12px;
    line-height: 14px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .staff-members {
    width: 10%;
    top: 76%;
    left: 16%;
  }
  .staff-members-text {
    top: 75%;
    left: 27%;
    font-size: 10px;
    line-height: 14px;
  }
}
/* Dashboard page */
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

@media (min-width: 992px) { /* Taille lg et supérieure */
  .btn-lg-lg {
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .btn-responsive {
    font-size: 0.55rem;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .btn-responsive {
    font-size: 0.85rem;
  }
}
div.container div.row div.col-lg-6 div.m-2 h3 + p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 21px;
  color: #B5B5C3;
}

.user-details {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 10px;
}

/* Contact page */
.p-1.bg-danger.text-white .container-fluid .row .col-lg-6 section .p-2.m-2 h1 {
  font-weight: 700;
  color: #F2F2F2;
}

section div.Num-Garage:nth-child(2) {
  box-sizing: border-box;
  border: 3px solid #D9777F;
  border-radius: 16px;
}
section div.Num-Garage:nth-child(2) h2 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

section div:first-child h2,
section div:nth-child(3) h2 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.block-title {
  background: #f8f9fa;
  color: #343a40;
  padding: 3rem;
  border-radius: 30px;
}

.title-dark {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.block-rouge {
  background: #D94350;
  border-radius: 20px;
  width: 130px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 10px;
}

.block-white {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 3px;
  gap: 10px;
  width: 130px;
  height: 70px;
  border: 4px solid #262526;
  border-radius: 15px;
}

.title-box-white {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #eeeeee;
  margin: 2rem;
}

.title-box-dark {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #262526;
  margin: 1rem;
}

.submit-red-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 50px 50px 40px 37px;
  gap: 0px;
  width: 220px;
  height: 50px;
  background: #D94350;
  border-radius: 50px;
}

.submit-message {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.form-color {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  color: #D92332;
}

.my-form-control-contact {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #F2F2F2;
  background-color: transparent;
  background-clip: padding-box;
  border: var(--bs-border-width) solid #C3C3C3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.my-form-control-contact::-moz-placeholder {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #F2F2F2;
}

.my-form-control-contact::placeholder {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #F2F2F2;
}

/* Used_cars_listing page */
main div h1 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

#ads {
  margin: 30px 0 30px 0;
}

#ads .card-notify-badge {
  position: absolute;
  left: -10px;
  top: -20px;
  background: #f2d900;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;
}

#ads .card-notify-year {
  position: absolute;
  right: -10px;
  top: -20px;
  background: #ff4444;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  width: 50px;
  height: 50px;
  padding: 15px 0 0 0;
}

#ads .card-detail-badge {
  background: #f2d900;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;
}

#ads .card:hover {
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  border-radius: 4px;
  transition: all 0.3s ease;
}

#ads .card-image-overlay {
  font-size: 20px;
}

#ads .card-image-overlay span {
  display: inline-block;
}

#ads .ad-btn {
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  border-radius: 80px;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  border: 3px solid #e6de08;
  display: block;
  text-decoration: none;
  margin: 20px auto 1px auto;
  color: #000;
  overflow: hidden;
  position: relative;
  background-color: #e6de08;
}

#ads .ad-btn:hover {
  background-color: #e6de08;
  color: #1e1717;
  border: 2px solid #e6de08;
  background: transparent;
  transition: all 0.3s ease;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

#ads .ad-title h5 {
  text-transform: uppercase;
  font-size: 18px;
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: center;
}

.ribbon span {
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #F62459;
  background: linear-gradient(#ff89b1 0%, #ff006e 100%);
  box-shadow: 0 3px 10px -5px rgb(0, 0, 0);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #F62459;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #F62459;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0%;
  top: 100%;
  z-index: -1;
  border-right: 3px solid #F62459;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #F62459;
}

#inventory .card:hover {
  transition: all 0.3s ease;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

#inventory .view-btn {
  background-color: #e6de08;
  margin: -25px 0 0 0;
  border-radius: 0 0 0 0;
  font-size: 14px;
  border: #e6de08;
  color: #000;
}

#inventory .btn:hover {
  background-color: #ff4444;
  color: #fff;
  border: 2px solid #ff4444;
  transition: all 0.3s ease;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}/*# sourceMappingURL=style.css.map */