
// Definir taille largeur minimal du projet
/**Variables tailles minimal du projet**/
$min-width: 320px;
$min-width-tablet: 768px;
$min-width-desktop: 1024px;
$min-width-large: 1200px;


// Definir couleur de base du projet
$color-primary_black: #262526;
$color-primary_white: #F2F2F2;
$color-primary_red_light: #D9777F;
$color-primary_red: #D94350;
$color-primary_red_dark: #D92332;

// Definir Typographie du projet
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
$font-headline: 'Rajdhani', sans-serif;
$font-text: 'Barlow', sans-serif;


*root {
font-family: 'Barlow', sans-serif;
font-family: 'Rajdhani', sans-serif;
}